.cards {
  display: grid; 
  grid-template-columns: auto auto auto auto auto auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 425px) {
  .cards {
    grid-template-columns: auto auto auto auto;
  }
}
