.card__common {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: wheat;
  font-size: 22px;
  backface-visibility: hidden;
  box-shadow: 3px 3px 3px rgb(151, 120, 84);
}