@import url(../vendor/normalize.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);

@import url(../blocks/cards/cards.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/_action/card_action_flip.css);
@import url(../blocks/card/__front-face/card__front-face.css);
@import url(../blocks/card/__common/card__common.css);
@import url(../blocks/card/__back-face/card__back-face.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__link/footer__link.css);