.card {
  min-width: 50px;
  min-height: 100px;
  border: 1px solid green;
  position: relative;
  box-sizing: border-box;
  scale: (1);
  transform-style: preserve-3d;
  transition: transform, .5s;
}

.card:active {
  transform: scale(0.97);
  transition: transform, .2s;
}