.card {
  min-width: 50px;  
  position: relative;
  box-sizing: border-box;
  transform-style: preserve-3d;
  transition: transform, .5s;
}

.card:active {
  transform: scale(0.97);
  transition: transform, .2s;
}